<!DOCTYPE html>
<html lang="en" ng-app="myRetriever">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!--<link href="../css/bootstrap-combined.min.css" rel="stylesheet">-->
    <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">-->


    <!-- Custom CSS -->
    <link href="../css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->

    <!-- Angular.JS Core JavaScript Framework -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js"></script>
    <!--<script src="https://github.com/angular-ui/bootstrap/blob/gh-pages/ui-bootstrap-tpls-1.3.2.js"></script>-->

    <!-- MODULES -->
    <script src="myRetriever.js"></script>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div ng-include="'navbar_header.html'"></div>

        <!-- Top Menu Items -->
        <div ng-include="'navbar_top.html'"></div>

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div ng-include="'navbar_sidebar.html'"></div>

    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Dashboard -
                        <small>Statistics Overview</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->

            <div class="row" ng-controller="myRetrieverCtrl as RetrieverCtrl">
                <div class="col-lg-12">

                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>

                    <p>Link to a plunker with the angular that I put together to dynamically display my objects.</p>
                    <p>http://plnkr.co/edit/4Pj6vSkndX3jBHNsupER?p=preview</p>


                    <accordion>
                        <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                            <ul>
                                <accordion>
                                    <accordion-group heading="{{item['item-title']}}" ng-repeat="item in group.items">
                                        <ul>
                                            <accordion>
                                                <accordion-group heading="{{item['item-title']}}" ng-repeat="item in item.items">
                                                    <ul>
                                                        <accordion>
                                                            <accordion-group heading="{{item['item-title']}}" ng-repeat="item in item.items">
                                                                <ul>
                                                                    <li ng-repeat="item in items"> {{item['item-title']}}
                                                                    </li>
                                                                </ul>
                                                            </accordion-group>
                                                        </accordion>
                                                        <!-- /.accordion.level.four -->
                                                    </ul>
                                                </accordion-group>
                                            </accordion>
                                            <!-- /.accordion.level.three -->
                                        </ul>
                                    </accordion-group>
                                </accordion>
                                <!-- /.accordion.level.two -->
                            </ul>
                        </accordion-group>
                    </accordion>
                    <!-- /.accordion.level.one -->

                    <br>
                    <br>
                    <p>Whole String : {{response}}</p>
                    <p>Parsed String : {{parsedData}}</p>
                    <p>levelOneID : {{levelOneID}}</p>
                    <p>Listing Name : {{listingName}}</p>
                    <p>Listing Description : {{listingDescription}}</p>
                    <p>Version ID : {{versionID}}</p>
                    <p>Book Name : {{bookName}}</p>
                    <p>Page Number : {{pageNumber}}</p>

                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.container -->
    </div>
</div>
<!-- /.row -->

<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>



<!-- Menu Toggle Script -->
<script>
    var game_id = "0";
    var listing_id = "0";
    var sublisting_id = "0";
    var description_id = "0";
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>

</html>
