<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>http://localhost:8080/html/index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>AddRootLevel</servlet-name>
        <servlet-class>controller.AddRootLevel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRootLevel</servlet-name>
        <url-pattern>/html/AddRootLevel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddSecondLevel</servlet-name>
        <servlet-class>controller.AddSecondLevel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSecondLevel</servlet-name>
        <url-pattern>/html/AddLevel/Two</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddThirdLevel</servlet-name>
        <servlet-class>controller.AddThirdLevel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddThirdLevel</servlet-name>
        <url-pattern>/html/AddLevel/Three</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddFourthLevel</servlet-name>
        <servlet-class>controller.AddFourthLevel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFourthLevel</servlet-name>
        <url-pattern>/html/AddLevel/Four</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RetrieveLevel</servlet-name>
        <servlet-class>controller.RetrieveLevel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RetrieveLevel</servlet-name>
        <url-pattern>/html/index</url-pattern>
    </servlet-mapping>

    <!-- Protect everything within the "user" directory. -->
    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>?</web-resource-name>-->
            <!--<url-pattern>/?/</url-pattern>-->
        <!--</web-resource-collection>-->
        <!--<auth-constraint>-->
            <!--<role-name>admin</role-name>-->
        <!--</auth-constraint>-->
    <!--</security-constraint>-->

    <!--<login-config>-->
        <!--<auth-method>FORM</auth-method>-->
        <!--<form-login-config>-->
            <!--<form-login-page>/?</form-login-page>-->
            <!--<form-error-page>/?</form-error-page>-->
        <!--</form-login-config>-->
    <!--</login-config>-->
</web-app>